<h1>Welcome to Dapper OverFlow!!!</h1>

<form action="/QandA/Index" >
    <input type="text" name="activeUser" placeholder="Username" required/>
    <input type="submit" value="Login" />
</form>

<p>Click <a href="/QandA/Index"><b>HERE</b></a> to go to the questions!</p>
